#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    align-items: center;
    align-item: center;
  }
   
  
  #main #img-div {
    background: white;
    padding: 10px;
    margin: 0;
  }
  #main #image {
    margin: 15px 0 5px 0;
  }
  #main #img-caption {
    margin: 15px 0 5px 0;
  }
  
  #main #tribute-info {
     margin: 15px 0 5px 0;
  }
  #main #tribute-link {
     margin: 15px 0 5px 0;
  }